@model IEnumerable<AutoMarkt.Models.Vehicle>

@{
    ViewData["Title"] = "Browse vehicles online";
}

    <form asp-controller="VehiclesBuyer" asp-action="Index" method="get">
        <p>
            Make: <input type="text" name="Make">

            EnginePower: <input type="number" name="EnginePower">

            Price: <input type="number" name="Price">

            <input type="submit" value="Filter" />
        </p>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>
                    Picture
                </p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnginePower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChassisNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.pic)" height="25" width="25" alt="noImage" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnginePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChassisNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Buy</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
